PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/docchat?schema=public"

CLERK_SECRET_KEY=sk_test_...

GEMINI_API_KEY=AIzaSy...

PINECONE_API_KEY=...
PINECONE_INDEX_NAME=docchat

CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
